node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.tmp/
temp/
tmp/
.DS_Store
Thumbs.db
.env
.env.local
.env.*.local
.cache/
.parcel-cache/
.next/
out/
.nuxt/
.sass-cache/
.vscode/
package-lock.json
yarn.lock
pnpm-lock.yaml
.babelrc
.babelrc.js
.babelrc.json
.babelrc.cjs
.eslintcache
webpack.config.js
*.log
*.tsbuildinfo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
coverage/
*.lcov
*.tsbuildinfo
monolith-sample/server/database.sqlite
monolith-sample/server/database.sqlite-journal
monolith-sample/server/node_modules/
monolith-sample/client/node_modules/
monolith-sample/client/build/
monolith-sample/client/coverage/
api-node/node_modules/
monolith-node/node_modules/
frontend-react/build/
frontend-react/node_modules/
frontend-nextjs/.next/
frontend-nextjs/node_modules/
microservices-go/bin/
microservices-go/pkg/
api-go/bin/
api-go/pkg/
